@font-face {
  font-family: "Lazer";
  src: url("/fonts/Lazer84.ttf")
       
}


body {
  background: white;
}

canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}