@font-face {
  font-family: "Lazer";
  src: url("/fonts/Lazer84.ttf")
       
}


body {
  background: black;
}

canvas {
  
  z-index: 0;
}

#instructions {
  z-index: 5;
  
  padding: 2em;
  position: relative;
  line-height: 1.2em;
  
}

h1 {
  font-family: Lazer,sans-serif;
  color: yellow;
  font-size: 3em;
  line-height: 1.4em;

  
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;

  
}

h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:white;
  font-weight: 100;
}

#container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

button {
  display: inline;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background:yellow;
  color: black;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background:red;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

#inputs {
  display: flex;
  justify-content: space-evenly;
}

form {
  border-width: 0px;
  display: inline-block;
  height: 30px;
  
}
input {
  size:3rem;
  border-width: 0px;

  background-color: black;
  color: yellow;
  height: 40px;
  font-size: 2em;
}

#planTag {display: flex}